<% provide(:title, "Log in") %>

<div class="row">
  <div class="small-3 small-centered columns">
    <h1>Log in</h1>
  </div>
</div>

<div class="row">
  <div class="small-3 small-centered columns">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.submit "Log in", class: "button round" %>
    <% end %> 
  </div>
</div>
