
<h1>Welcome, <%= @user %>!</h1>

<h2>This week, you have had: </h2>

  <p>Nutrients intake: </p>


  <ul>
    <% @intakes.each do |intake| %>
    <li><%= link_to intake.dish.name, intake %></li>
    <% end %>
  </ul>